* {
    font-family: "SF Pro Text", "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #c0caf5;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -1px transparent;
    color: #c0caf5;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -1px #7aa2f7;
}

#workspaces,
#custom-launcher,
#window,
#custom-notification,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#wireplumber,
#tray {
    background: rgba(0, 0, 0, 0.92);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 0 14px;
    margin: 2px 0;
    min-height: 32px;
    color: #c0caf5;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.15s ease;
}

#workspaces {
    padding: 2px 8px;
}

#workspaces button {
    margin: 0;
    padding: 0 5px;
    background-color: transparent;
    border: 1px solid rgba(122, 162, 247, 0.08);
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    min-width: 14px;
    color: #565f89;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    min-width: 28px;
    border: 1px solid rgba(122, 162, 247, 0.3);
    background-color: #1a1b26;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    color: #7aa2f7;
}

#workspaces button.urgent {
    color: #f7768e;
}

#custom-launcher {
    padding-left: 17px;
    padding-right: 20px;
    color: #bb9af7;
}

#custom-notification {
    padding-left: 16px;
    padding-right: 18px;
    color: #7dcfff;
}

#pulseaudio {
    padding-left: 18px;
    padding-right: 18px;
    color: #9ece6a;
}

#clock {
    color: #e0af68;
}

#cpu {
    color: #7aa2f7;
}

#memory {
    color: #bb9af7;
}

#network {
    color: #9ece6a;
}

#battery {
    color: #7dcfff;
}

#window {
    color: #a9b1d6;
}
