* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "SF Pro Text", sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(30, 35, 38, 0);
    color: #a9b1d6;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -1px transparent;
    color: #ffffff;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -1px #7aa2f7;
}

#workspaces,
#custom-launcher,
#window,
#custom-notification,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#wireplumber,
#tray {
    padding: 0 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    /* NEW: Text color is now white-ish over blue-infused base */
    color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

#workspaces {
    padding: 7px 5px 7px 5px;
}

#workspaces button {
    margin-left: 1px;
    margin-right: 1px;
    padding: 0 6px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    min-width: 15px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    min-width: 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(0, 48, 143, 0.19);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    color: #e67e8c;
}

#custom-launcher {
    /* Increase left padding to push it right */
    padding-left: 10px;
    padding-right: 14px;
    /* If it's vertically uncentered, you can nudge it with:
       padding-bottom: 2px; */
}
#custom-notification {
    /* Same here, adjust until it looks right */
    padding-left: 10px;
    padding-right: 13px;
}
#pulseaudio {
    padding-left: 12px;
    padding-right: 12px;
}
